<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dominique's Projects</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav>
    <div id="nav-bar">
        <div class="dropdown">
          <h2>Projects</h2>
          <div class="dropdown-content">
            <a href="home.html">home</a>
            <a href="hobbies.html">hobbies</a>
            <a href="resume.html">resume</a>
          </div>
        </div>
  </div>
  </nav>

<main>
<h1 class="title">Projects I Have Worked On</h1>
<section>
<div class="project-container"> 
  <div class="project1"><img src="../resources/img/quiz-app.png" alt="screenshot of a multiple choice quiz question" class="project-picture" /></div>
  <div class="project1">
    <h2><a href="https://dominiqueromero.github.io/mcu-quiz-app/" class="project-links" title="Test your MCU knowledge" target="_blank">Marvel Quiz</a></h2>
    <p>A fun quiz app to test your knowledge of the Marvel universe.</p>
  </div>

  <div class="project2"><img src="../resources/img/pizza-place-img.png" alt="mock pizza place ordering page" class="project-picture" /></div>
  <div class="project2">
    <h2><a href="https://github.com/dominiqueromero/portfolio" class="project-links" title="Visit the GitHub repo">High School Portfolio</a></h2>
    <p>A collection of my projects from the first year of my coding program in high school.</p>
  </div>

  <div><img src="../resources/img/project_csci1300.png" alt="Project 3" class="project-picture project3" /></div>
  <div>
    <h2>CSCI Assignment</h2>
    <p>My final project for CSCI 1300.</p>
  </div>
</div>
</section>
</main>
<footer class="footer">
    <div class="footer-left">
        <a href="https://www.linkedin.com/in/dominique-romero-3b9753380/" class="footer-link">LinkedIn</a>
        <p>email@email.com</p>
        <p>123-456-7890</p>
    </div>

    <div class="footer-right">
        <p>&copy; 2026 Dominique Romero.</p>
        <p>All rights reserved.</p>
    </div>
</footer>
</body>


</html>