<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dominique's Resume</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav>
    <div id="nav-bar">
        <div class="dropdown">
          <h2>Resume</h2>
          <div class="dropdown-content">
<!-- this is an element with an attribute -->
            <a href="hobbies.html">hobbies</a>
            <a href="projects.html">projects</a>
            <a href="home.html">home</a>
          </div>
        </div>
  </div>
  </nav>

<main>
  <h1 class="title">My Resume</h1>
  <section class="resume-basic-info">
    <h3>Dominique Romero</h3>
      <p>123 College St, City, State ZIP</p>
      <p>(123) 456-7890</p>
      <p>emailaddress@email.com</p>
      <p>Objective: Seeking a challenging position in software development where I can utilize my skills and 
        contribute to the success of the organization.</p>
  </section>
  <br/>
  <div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Education</h4>
          <p class="card-text">
            Millennium High School | Goodyear, AZ | Graduated: May 2025
          </p>
          <p class="card-text">
            CU Boulder Computer Science BS | Expected Graduation: May 20XX
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Skills</h4>
          <ul>
            <li>Programming Languages: Python, Java, C++</li>
            <li>Web Development: HTML, CSS, JavaScript</li>
            <li>Database Management: SQL</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

    <br/>
    <button><a href="../resources/img/fake-resume.pdf" download title="Download resume" class="resume-download">Download Resume</a></button>
    
</main>

<br/>

<footer class="footer">
    <div class="footer-left">
        <a href="https://www.linkedin.com/in/dominique-romero-3b9753380/" class="footer-link">LinkedIn</a>
        <p>email@email.com</p>
        <p>123-456-7890</p>
    </div>

    <div class="footer-right">
        <p>&copy; 2026 Dominique Romero.</p>
        <p>All rights reserved.</p>
    </div>
</footer>
</body>

</html>